# kbox default configuration -- all features enabled
CONFIG_HAS_SLIRP=y
CONFIG_HAS_WEB=y
CONFIG_SYSCALL_FAST_PATH=y
CONFIG_STAT_CACHE_SIZE=16
CONFIG_BUILD_DEBUG=y
# CONFIG_BUILD_RELEASE is not set
CONFIG_LKL_DIR=""
CONFIG_CONFIGURED=y
